body {
    font-family:   Roboto, Arial, sans-serif;
    font-size: 1em;
    background-color: #ECEFF1;
}


header {
  
   margin:0;
   background-color: #161e31;
   height: 80px;
   padding: 15px 0 5px 15px;
   height: 160px;
   width: 100%;
   background-color: #161e31;
  
}
   


.request {
  

}

header nav {
     float: right;  
     margin: 20px 15px 10px 10px;
}

.centered {
    margin: 0 auto;
    padding: 0 1em;
    }

  figure img {
    margin: 0;
    padding-top: 50px;
    width: 100%;


}

img {
  height: auto;

}

.button {
    padding: 0.5em 1em;
    background-color: #FF3D00;
    color: white;
    border: none;
    border-radius: 0.25rem;
}

.inputVal{
  vertical-align: C

}


.container {
  max-width: 1400px;
  margin: 1em auto;
  
  align-items: center;

}

.thumbnail {

  float: left;
  padding:10px;
}

.cards{

display:flex;
flex-wrap:nowrap ; 


  }


card-content p {
  padding: 0.5em 1.4em 0 1.4em;
  font-size: 90%; 


}
 .signIn{
   padding:0px 0px 0px 25px;

}

.title{

  padding:100px;
}

.containerimgs{
 max-width: 1400px;
  margin: 1em auto;
  display:flex ;

}
.inline{
float:left;
display: inline-block;
}
.stretched #wrapper{
    width: 100%;
    margin: 0;
    box-shadow: none;
   
}

.wrapper{
    flex-wrap:wrap;
    

}
#wrapper .options  {
    display flex-wrap;
    width: 50%;
    margin: 0 auto 5px auto;
    display: block;

}

.option a {
  color: black;
  text-decoration: none;
width: 24%
}


.option a:hover .option-actions .button {
     opacity: 2;   
    transition-property: opacity;
    transition-timing-function: ease-out;


    width: 24%
}

.option-content p {
  padding: 0.5em 1.4em 0 1.4em;
  font-size: 90%; 


}

.option-actions {
  padding: 0.5em 1.4em;
  font-size: 90%; 

}

.card-actions .button {
     opacity: 0; 
    transition-property: opacity;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    transition:drop-shadow(16px 16px 10px black)
    background-color: (0, 130,0,0);


}

.button {
   border: 2px solid #0a3c59;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   padding: 10.5px 21px;
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #7ea4bd 0 1px 0;
   color: #14486b;
   font-size: 16px;
   font-family: helvetica, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button:hover {
   border: 2px solid #0a3c59;
   text-shadow: #1e4158 0 1px 0;
   background: #3e779d;
   background: -webkit-gradient(linear, left top, left bottom, from(#65a9d7), to(#3e779d));
   background: -webkit-linear-gradient(top, #65a9d7, #3e779d);
   background: -moz-linear-gradient(top, #65a9d7, #3e779d);
   background: -ms-linear-gradient(top, #65a9d7, #3e779d);
   background: -o-linear-gradient(top, #65a9d7, #3e779d);
   background-image: -ms-linear-gradient(top, #65a9d7 0%, #3e779d 100%);
   color: #fff;
   }
.button:active {
   text-shadow: #1e4158 0 1px 0;
   border: 2px solid #0a3c59;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#3e779d));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   background-image: -ms-linear-gradient(top, #3e779d 0%, #65a9d7 100%);
   color: #fff;
   }


.led-box {
  height: 30px;
  width: 25%;
  margin: 10px 0;

}

.ledcontainer {
display:flex;
flex-wrap:nowrap ; 
  
}

.led-box p {
  font-size: 12px;
  text-align: center;
  margin: 1em;
 
}

.led-red {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #F00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px;
  -webkit-animation: blinkRed 0.5s infinite;
  -moz-animation: blinkRed 0.5s infinite;
  -ms-animation: blinkRed 0.5s infinite;
  -o-animation: blinkRed 0.5s infinite;
  animation: blinkRed 0.5s infinite;
}

@-webkit-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-moz-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-ms-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@-o-keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}
@keyframes blinkRed {
    from { background-color: #F00; }
    50% { background-color: #A00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 0;}
    to { background-color: #F00; }
}

.led-yellow {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #FF0;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 12px;
  -webkit-animation: blinkYellow 1s infinite;
  -moz-animation: blinkYellow 1s infinite;
  -ms-animation: blinkYellow 1s infinite;
  -o-animation: blinkYellow 1s infinite;
  animation: blinkYellow 1s infinite;
}

@-webkit-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-moz-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-ms-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@-o-keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}
@keyframes blinkYellow {
    from { background-color: #FF0; }
    50% { background-color: #AA0; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #808002 0 -1px 9px, #FF0 0 2px 0; }
    to { background-color: #FF0; }
}

.led-green {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #ABFF00;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #304701 0 -1px 9px, #89FF00 0 2px 12px;
}

.led-blue {
  margin: 0 auto;
  width: 24px;
  height: 24px;
  background-color: #24E0FF;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #006 0 -1px 9px, #3F8CFF 0 2px 14px;
}



@media screen and (max-width:480px) {


}

@media screen and (max-width:768px) {


}

@media screen and (max-width:768px) {


}
body{
  margin:0;
  color:#6a6f8c;
  background:""#c8c8c8"";
  font:600 16px/18px 'Open Sans',sans-serif;
}
*,:after,:before{box-sizing:border-box}
.clearfix:after,.clearfix:before{content:'';display:table}
.clearfix:after{clear:both;display:block}
a{color:inherit;text-decoration:none}

.login-wrap{
  width:100%;
  margin:auto;
  max-width:525px;
  min-height:525px;
  position:relative;
  background-color: #161e31;
  box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  top: 135px;
}
.login-html{
  width:100%;
  height:100%;
  position:absolute;
  padding:90px 70px 50px 70px;
 
}
.login-html .sign-in-htm,
.login-html .sign-up-htm{
  top:0;
  left:0;
  right:0;
  bottom:0;
  position:absolute;
  transform:rotateY(180deg);
  backface-visibility:hidden;
  transition:all .4s linear;
}
.login-html .sign-in,
.login-html .sign-up,
.login-form .group .check{
  display:none;
}
.login-html .tab,
.login-form .group .label,
.login-form .group .button{
  text-transform:uppercase;
}
.login-html .tab{
  font-size:22px;
  margin-right:15px;
  padding-bottom:5px;
  margin:0 15px 10px 0;
  display:inline-block;
  border-bottom:2px solid transparent;
}
.login-html .sign-in:checked + .tab,
.login-html .sign-up:checked + .tab{
  color:#fff;
  border-color:#1161ee;
}
.login-form{
  min-height:345px;
  position:relative;
  perspective:1000px;
  transform-style:preserve-3d;
}
.login-form .group{
  margin-bottom:15px;
}
.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
  width:100%;
  
  display:block;
}
.login-form .group .input,
.login-form .group .button{
  border:none;
  padding:15px 20px;
  border-radius:25px;
  
}
.login-form .group input[data-type="password"]{
  text-security:circle;
  -webkit-text-security:circle;
}
.login-form .group .label{
  color:#aaa;
  font-size:12px;
}
.login-form .group .button{
  background:#1161ee;
}
.login-form .group label .icon{
  width:15px;
  height:15px;
  border-radius:2px;
  position:relative;
  display:inline-block;
  background:rgba(255,255,255,.1);
}
.login-form .group label .icon:before,
.login-form .group label .icon:after{
  content:'';
  width:10px;
  height:2px;
  background:#fff;
  position:absolute;
  transition:all .2s ease-in-out 0s;
}
.login-form .group label .icon:before{
  left:3px;
  width:5px;
  bottom:6px;
  transform:scale(0) rotate(0);
}
.login-form .group label .icon:after{
  top:6px;
  right:0;
  transform:scale(0) rotate(0);
}
.login-form .group .check:checked + label{
  color:#fff;
}
.login-form .group .check:checked + label .icon{
  background:#1161ee;
}
.login-form .group .check:checked + label .icon:before{
  transform:scale(1) rotate(45deg);
}
.login-form .group .check:checked + label .icon:after{
  transform:scale(1) rotate(-45deg);
}
.login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
  transform:rotate(0);
}
.login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
  transform:rotate(0);
}
element.style {
    top: 0px;
    opacity: 1;
    display: block;
}
#lu-gh-user {
    float: right;
    height: auto;
}

.hr{
  height:2px;
  margin:60px 0 50px 0;
  background:rgba(255,255,255,.2);
}
.foot-lnk{
  text-align:center;
}



#lu-gh-links {
    display: block;
    height: auto;
}
#lu-gh-links li, #lu-gh-user li, #lu-gh-user-container li {
    float: left;
    margin: 0;
    padding: 0;
}
#lu-gh-bar {
    background: #222;
    top: 0;
    left: 0;
    width: 100%;
    height: 44px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    z-index: 3;
    min-width: 1024px !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    fill: inherit;
    stroke: inherit;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

#lu-gh-links li a, #lu-gh-user li a, #lu-gh-user-container li a {
    border: none;
    color: #ccc;
    float: left;
    font-family: "Roboto",Arial,sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    margin: 0 20px;
    padding: 13px 0;
    text-decoration: none;
    vertical-align: middle;
    position: relative;
    transition: color .25s ease-in-out,opacity .25s ease-in-out;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}
#lu-gh-links, #lu-gh-user, #lu-gh-user-container {
    display: none;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
    height: 27px;
}

.lu-gh-container {
    position: absolute;
    text-align: left;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1500;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    fill: inherit;
    stroke: inherit;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
#lu-gh-links {
    display: block;
    height: auto;
}
ul {
    padding-left: 40px;
}

.signin {
  float:right;
}

#lu-gh-bar #lu-gh-links li a.lu-gh-active-link {
    box-shadow: inset 0 -3px 0 #319ed9;
    border-radius: 0;
    color: #fff;
}

.home-nav-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    margin-top: 36px;
}

body {
    background: #fff;
    color: #222;
    font-size: 100%;
    line-height: 160%;
    min-height: 100%;
    height: auto!important;
}

.home-nav-container a:active .windows, .home-nav-container a:focus .windows, .home-nav-container a:hover .windows {
    background: #3eaaff;
}
.home-nav-container a .windows {
    background: #0078d7;
}

.home-nav-container a {
    width: 33.3333%;
}

.home-nav-container a {
    box-sizing: border-box;
    outline: 1px solid #e0e0e0;
}

a:active, a:hover, a:visited {
    color: #0078d7;
}

.home-nav-container a img {
    display: block;
    box-sizing: border-box;
    max-height: 80px;
    width: 100%;
    height: 100%;
}


.directory-container div.directory-cols ul {
    -webkit-flex-basis: -webkit-calc(33.33333% - 24px * 2/3);
    -ms-flex-preferred-size: calc(33.33333% - 24px * 2 / 3);
    flex-basis: calc(33.33333% - 24px * 2 / 3);
}

.directory-container div.directory-cols ul {
    margin: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 100%;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
}
ul.noBullet {
    margin-left: 0;
}

.content ol, .content ul, ol.default, ul.default {
    margin: 16px 0 16px 38px;
}

.content[dir=rtl] ol.clean, .content[dir=rtl] ul.clean, .content ol.clean, .content ul.clean, ol, ul {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
}

ul.noBullet>li {
    list-style-type: none;
}

main ol>li, main ul>li, ol.default>li, ul.default>li {
    list-style: disc outside none;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.directory-container div.directory-cols {
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.directory-container {
    margin: 24px 24px 0;
    width: -webkit-calc(100% - 48px);
    width: calc(100% - 48px);
}

.directory-container div.directory-cols ul {
    -webkit-flex-basis: -webkit-calc(33.33333% - 24px * 2/3);
    -ms-flex-preferred-size: calc(33.33333% - 24px * 2 / 3);
    flex-basis: calc(33.33333% - 24px * 2 / 3);
}

.directory-container div.directory-cols ul li a {
    font-size: 1rem;
}

.barLink:hover {
    border-left-color: #0050c5;
}

a:active, a:hover, a:visited {
    color: #0078d7;
}

a:hover {
    text-decoration: underline;
}

.barLink {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-left: 6px solid #e0e0e0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.125rem;
    line-height: 28px;
    margin-top: 4px;
    min-height: 36px;
    padding-left: 12px;
    padding-right: 12px;
}


.home-nav-container a {
    width: 33.3333%;
}

.home-nav-container a {
    box-sizing: border-box;
    outline: 1px solid #e0e0e0;
}

a:active, a:hover, a:visited {
    color: #0078d7;
}

a {
    color: #0050c5;
    cursor: pointer;
    text-decoration: none;
    word-wrap: break-word;
}
a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

}

}
